
form {
    max-width: 500px;
    margin: 40px auto;
    padding: 16px;
    background: #f7f7f7;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.78);
  }
  
  h2 {
    background: #80db36;
    padding: 20px 0;
    font-size: 140%;
    text-align: center;
    margin: -16px -16px 16px -16px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.78);
    font-size: inherit;
    color: rgb(0, 0, 0);
  }
  
  input {
    width: 25%;
    padding: 5px 0;
  }
  Button{
      margin-left: 50px;
  }
  