header {
    text-align: center;
    background: #80db36;
    border-radius: 0px;
    box-shadow: 10px 5px 11px 2px rgba(0, 0, 0, 0.78);
    font-size: inherit;
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.8rem;
    width: auto;
    
  }
  